[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
pandas = "*"
excel2json = "*"
"yieldfrom.urllib.request" = "*"
validate-email = "*"
pandas-validation = "*"
somewhere = "*"

[dev-packages]

[requires]
python_version = "3.8"
